.DS_Store
.gradle
.idea
/producer/build/
/producer/classes/
/producer/out/
/producer/src/gen/
/operation/build/
/operation/out/
/stream-processor/build
/stream-processor/src/gen/
/wordcount-stream-consumer/build/
/runtime/
*.iml
