.DS_Store
.gradle
.idea
/producer/build/
/producer/classes/
/producer/out/
/producer/src/gen/
/operation/build/
/operation/out/
/stream-processor/build
/stream-processor/src/gen/
/consumer/build/
/consumer/classes/
/consumer/out/
/consumer/src/gen/
/runtime/
*.iml
