.DS_Store
.gradle
.idea
*.iml

/operation/build/
/operation/out/

/producer/build/
/producer/classes/
/producer/out/
/producer/src/gen/

/stream-processor/build/
/stream-processor/classes/
/stream-processor/out/
/stream-processor/src/gen/

/consumer/build/
/consumer/classes/
/consumer/out/
/consumer/src/gen/

/acceptance-tests/out
/acceptance-tests/build

/runtime/
